@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
    background-color: #D1D4DA;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    margin-bottom: 25rem;
    background: url(https://i.ibb.co/2vGWZMH/istockphoto-891329050-612x612.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container2{
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-bottom: 60px;
  background: linear-gradient(rgba (0,0,0,.3),rgba (0,0,0,.3)) url(https://i.ibb.co/2vGWZMH/istockphoto-891329050-612x612.jpg) no-repeat;
  background-size: cover;
  background-position: center;

}

.container2 .content {
  text-align: center;

}

.container2 .content button {
  height: 50px;
  width: 200px;
  color: #333;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

.container2 .content input {
  height: 50px;
  width: 200px;
  color: #333;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

h1{
  font-family: 'Quicksand', serif;
  color: white;
  font-size: 120px;
}
